@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background: #fff;
}

body::-webkit-scrollbar {
  width: 0px;
}

body.scrolling::-webkit-scrollbar {
  width: 2px;
}

body.scrolling::-webkit-scrollbar-track {
  background: transparent;
}

body.scrolling::-webkit-scrollbar-thumb {
  background: #5b4df7;
  border-radius: 2.5px;
}

header {
  width: 100%;
  height: 37.5px;
  position: fixed;
  background-color: #fff;
  z-index: 9999;
}

.nav-container {
  max-width: 750px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 5px 25px;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: #000;
  font-size: 14px;
  font-family: Helvetica, sans-serif;
  cursor: pointer;
}

.nav-links a:hover {
  color: #5b4df7;
}

.nav-btn {
  padding: 8.5px 15px;
  font-size: 10px;
  background-color: #534be0;
  border-radius: 25px;
  font-weight: 500;
  color: #fff;
  border: none;
  cursor: pointer;
}

.nav-btn:hover {
  background-color: #150d6e;
}

.home {
  width: 100%;
  min-height: 100vh;
  background-image: url("/bg.jpg");
  background-size: cover;
  background-position: 65% center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-content {
  max-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.home-rating {
  color: #fff;
}

.home-rating h1 {
  font-size: 20px;
  font-weight: 400;
}

.home-rating span {
  font-size: 20px;
  color: gold;
}

.home-rating p {
  font-size: 15px;
  font-weight: 500;
}

.home-content h2 {
  color: #fff;
  font-size: 10px;
}

.home-text {
  margin: 10px 0;
}

.home-text h1 {
  font-size: clamp(20px, 4vw, 60px);
  line-height: 1.1;
  font-weight: 600;
  color: #fff;
}

.home-text p {
  font-size: 15px;
  color: #ccc;
  margin-top: 10px;
}

.home-text button {
  margin-top: 15px;
  padding: 15px 20px;
  font-size: 14px;
  border: none;
  border-radius: 60px;
  background: #534be0;
  color: #fff;
  cursor: pointer;
}

.home-brands {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.home-brands img {
  width: 110px;
}

/* ABOUT SECTION */

.about {
  width: 100%;
  min-height: 100vh;
  padding: 40px;
}

.about-content {
  max-width: 675px;
  margin: 0 auto;
  display: flex;
  gap: 45px;
}

.left-btn {
  flex: 0 0 auto;
}

.left-btn button {
  border: 1px solid #5b4df7;
  padding: 10px 10px;
  border-radius: 25px;
  background: transparent;
  font-size: 15px;
  color: #101010;
  font-weight: bold;
  margin-top: 10px;
}

.right-text h1 {
  font-size: 35px;
  line-height: 1.4;
  font-weight: 600;
  color: #111;
}

.right-text span {
  color: #5b4df7;
  font-style: italic;
  font-weight: 600;
}

.about-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.info-box h2 {
  font-size: 25px;
  font-weight: 600;
  color: #111;
  text-align: center;
}

.info-box p {
  font-size: 15px;
  color: #181717;
}

/* SERVICE */

.services {
  width: 100%;
  min-height: 100vh;
  padding: 40px;
}

.service-btn {
  border: 1px solid #5b4df7;
  padding: 10px 10px;
  border-radius: 25px;
  background: transparent;
  font-size: 15px;
  color: #101010;
  font-weight: bold;
  margin-bottom: 20px;
}

.card {
  max-width: 650px;
  margin: 0 auto;
  padding: 5px 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.service-grid {
  width: 300px;
  height: 278.5px;
}

.service-card {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.3s;
  background: url(./assets/cardBg.png);
  background-size: cover;
  background-position: center;
}

.service-card:hover {
  background: #514be0;
}

.service-card:hover .tags span {
  border-color: #fff;
}

.service-card h1 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.text {
  padding: 12.5px 15px;
  color: #fff;
}

.tags {
  display: flex;
  gap: 5px;
  margin-top: 7.5px;
  color: #fff;
}

.tags span {
  border: 0.5px solid #5b4df7;
  padding: 2.5px 6px;
  border-radius: 10px;
  font-size: 8.5px;
  font-weight: 500;
}

.image {
  width: 100%;
  height: 185px;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* WHY US */

.Why-us {
  width: 100%;
  min-height: 100vh;
  padding: 40px;
  background: #111111;
  color: #fff;
}

.why-btn {
  border: 1px solid #5b4df7;
  padding: 10px 15px;
  border-radius: 25px;
  background: transparent;
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 5px;
}

.why-text {
  text-align: center;
  font-weight: 600;
  font-size: 16.5px;
  margin-bottom: 25px;
}

.why-text span {
  color: #5b4df7;
  font-weight: 600;
  font-style: italic;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px 5px;
  justify-items: center;
}

.why-card {
  width: 212.5px;
  height: 115px;
  background: #000;
  color: #fff;
  padding: 5px 7.5px;
}

.text-us {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.text-us span {
  font-size: 20px;
  color: #534be0;
  font-weight: 600;
}

.text-us h1 {
  font-size: 15px;
  font-weight: 600;
}

.text-us p {
  font-size: 10px;
  font-weight: 400;
}

/* ANIMATE */

.animate {
  overflow: hidden;
  width: 100%;
  padding: 20px 0;
}

.slider {
  display: flex;
  gap: 30px;
  width: max-content;
  animation: scroll 5s linear infinite;
}

.slider img {
  width: 350px;
  object-fit: contain;
  will-change: transform;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

/* CONTACT */

.contact {
  width: 100%;
  min-height: 100vh;
  padding: 40px;
  background: linear-gradient(108.35deg, #2e2e2e 1.91%, #0b0b0b 92.33%);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 150px;
  object-fit: contain;
}

.contact-text {
  text-align: center;
  max-width: 450px;
}

.contact-text h1 {
  font-size: 50px;
  white-space: nowrap;
  font-weight: 600;
}

.contact-text p {
  font-size: 13px;
  font-family: Helvetica;
  font-weight: 400;
}

.contact-form {
  width: 100%;
  max-width: 600px;
  margin-top: 25px;
}

.contact-form form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 19px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px 9px;
  border-radius: 4px;
  border: 0.5px solid #333;
  background: #1a1a1a;
  color: #fff;
  font-size: 19px;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  color: #b4b4b48f;
}

.contact-form textarea {
  resize: none;
  height: 100px;
}

.form-group.full {
  grid-column: span 2;
}

button.full {
  grid-column: span 2;
}

.contact-form button {
  padding: 7.5px;
  background: #5b4df7;
  border: none;
  border-radius: 2.5px;
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background: #433bd1;
}

.contact-info {
  width: 100%;
  max-width: 600px;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-info .logo span {
  margin-right: 7.5px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-info .logo span:hover {
  color: #5b4df7;
}

.contact-link ul {
  display: flex;
  gap: 13px;
  font-size: 13px;
}

.contact-link li {
  padding: 5px 5px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-link li::marker {
  color: #5b4df7;
}

.contact-link li:hover {
  color: #5b4df7;
}